@import "./bootstrap.scss";
@import "./board.scss";
@import "./keyboard.scss";
@import "./stats.scss";

.air-datepicker {
  z-index: 9999999 !important;
}

html body {
  padding: 0 !important;
  margin: 0 !important;
  //max-height: 100vh;
  width: 100vw;
  height: 100dvh;
  overflow-x: hidden;
}

#nav-slide-btn {
  width: 16px !important;
  height: 16px !important;
}

.flex-shr {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto; /* Adjust this based on your requirement */
}

.mr-rem {
  margin-left: 1rem;
}

.middle-div {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  align-items: center;
}

.header-text-center {
  font-size: 31px;
  margin-bottom: 0;
}

// make font-size adjust at 414px to 31px
@media (max-width: 413px) {
  .header-text-center {
    font-size: 24px;
  }
}

// make font size adjust at 375px to 28px
@media (max-width: 374px) {
  .header-text-center {
    font-size: 20px;
  }
}

// make font size adjust at 320px to 24px
@media (max-width: 360px) {
  .header-text-center {
    font-size: 12px;
  }
}

.hide {
  display: none !important;
  visibility: hidden;
}

.examples {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.example {
  display: flex;
  flex-direction: column;
}

.main-sections {
  display: flex;
  flex-direction: column;
  height: calc(100dvh - 56px);
  //height: calc(100vh - env(safe-area-inset-top) - env(safe-area-inset-bottom) - 56px) !important; /* Adjust for safe area */
  justify-content: space-between;

  //min-height: calc(100vh - 58px); /* Ensure at least the height of the viewport */
  //padding-bottom: constant(safe-area-inset-bottom); /* For iOS 11.0 */
  //padding-bottom: env(safe-area-inset-bottom); /* For iOS 11.2 and up */
  //box-sizing: border-box; /* Include padding in the height */
}

.menu-btn {
  svg {
    path {
      fill: var(--header-fill-color)
    }
  }
}